<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li>
      <a class="is-active">Dashboard</a>
    </li>
    <li>
      <a>Candy Lovers</a>
    </li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li>
      <li>
        <a>Manage Your Sweet Tooth</a>
        <ul>
          <li>
            <a>Late Night Cravings</a>
          </li>
          <li>
            <a>Add a favorite</a>
          </li>
        </ul>
      </li>
  </ul>
</aside>
