<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">439k</p>
        <p class="subtitle">Reeses</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">59k</p>
        <p class="subtitle">Pillow Cookies</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">3.4k</p>
        <p class="subtitle">Chocolate Cannoli</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">19</p>
        <p class="subtitle">Gummy Bears</p>
      </article>
    </div>
  </div>
</section>
