<div class="column is-6">
  <div class="card events-card">
    <header class="card-header">
      <p class="card-header-title">
        Goodies
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <div class="card-table">
      <div class="content">
        <table class="table is-fullwidth is-striped">
          <tbody>
            <tr *ngFor="let goodie of goodieList">
              <td width="5%">
                <i class="fa fa-bell-o"></i>
              </td>
              <td>{{goodie.name}}</td>
              <td>
                <a class="button is-small is-primary" routerLink="store/detail/{{goodie.id}}"> More info</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">&raquo; View All</a>
    </footer>
  </div>
</div>
